---
layout: archive
title: ""
permalink: /teaching/
author_profile: true
---

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->

## Teaching Assistant at BNBU (with tutorials)
* FINM 2063 - Introduction to Finance
* FINM 3023 - Fixed Income Securities and Their Derivatives
* COMP 3283 - Data Structure
* GCAP 3193 - Investment Practice
* FIN 3063 - Principles of Corporate Finance
* FINM 2073 - Introduction to Python for Mathematical Computing

## Teaching Assistant at HKUST
* FTEC 5230 - Financial Risk management
* FTEC 5050 - Machine Learning and Artificial Intelligence
